<div class="content">
  <div class="content-cocktail">
    <h1><%= @cocktail.name.capitalize %></h1>
    <div class="content-cocktail-ingredients">
      <%@cocktail.doses.each do |dose| %>
        <div class="ingredient">
          <%= dose.description%> => <%= dose.ingredient.name%>   (<%= link_to "delete", dose_path(dose), method: :delete, data: { confirm: "Sure ?" }%>)
        </div>
      <% end %>
    </div>
  </div>
  <div class="links">
    <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
    <br>
    <%= link_to "Back 🔙", cocktails_path %>
  </div>
</div>
